.CompassOverlay {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: white;
  padding: 15px;

  z-index: 10000;
}

.groupSelect {
  width: 100%;
}

.compass {
  display: flex;
  flex-direction: row;
}

.compass > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.compass > div > * {
  flex: 1;
  padding: 5px;
}
