.Sidebar {
  overflow: auto;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.rule {
  border-bottom: 1px solid black;
}

.tabs {
  width: 100%;

  display: flex;
}
.tabs button {
  flex: 1;
}

.tabContent {
  flex: 1;
  overflow: auto;
}

.outputHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flexWrapper {
  height: 100%;
  padding: 0 10px;

  display: flex;
  flex-direction: column;
}

.expandingScrollArea {
  flex: 1;
  overflow: auto;
}

.newGroupForm {
  padding-bottom: 10px;
}
.newGroupForm > div {
  margin-top: 10px;
}
