.leafletMap {
  width: 100%;
  height: 100%;
}

.control img {
  height: 100%;
}

.control.enabled {
  background-color: #afafaf;
}

.controlTooltip {
  display: inline-block;
  border-radius: 6px;
  background: #333;
  opacity: 0.8;
  position: relative;
  padding: 0.25em;
  margin-left: 10px;
}

.controlTooltip:after {
  top: calc(50% - 10px);
  left: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #333;
  position: absolute;
  content: ' ';
  font-size: 0;
  line-height: 0;
  width: 0;
}

.controlTooltip div {
  color: #fff;
  font-size: 1rem;
  display: block;
  margin: 0.5rem;
  text-align: center;
}
